$bg-color: #201ea6
$textarea-bg-color: darken($bg-color, 10%)
$button-bg-color: darken($bg-color, 15%)


body
  background-color: $bg-color
  position: relative


.app
  display: flex
  height: 90vh


.panel
  width: 50%
  padding: 2rem


.configurationSourceHeader
  display: flex
  justify-content: space-between
  margin-top: 2rem


.configurationSourceText
  width: 100%
  color: white
  line-height: 1.5
  padding: 1rem
  background-color: $textarea-bg-color
  border: none
  outline: none
  font-family: JetBrains Mono


.gameSelect,
.parseButton
  padding: 0.6rem 1rem
  color: white
  background-color: $button-bg-color
  font-size: 1rem
  border: none
  font-family: Montserrat


.parseButton
  font-weight: 600


.configurationEntry
  display: flex
  justify-content: space-between
  padding: 1rem
  color: white

  &:nth-child(odd)
    background-color: $button-bg-color


.configurationEntryName
  font-family: Montserrat


.configurationEntryValue
  font-family: JetBrains Mono


.form,
.configurationSourceText,
.configurationEntries
  height: 100%


.configurationEntries
  overflow-y: auto
